<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoCAD.NET" version="24.0.0" targetFramework="net48" />
  <package id="AutoCAD.NET.Core" version="24.0.0" targetFramework="net48" />
  <package id="AutoCAD.NET.Model" version="24.0.0" targetFramework="net48" />
  <package id="ControlzEx" version="4.3.2" targetFramework="net48" />
  <package id="CredentialManagement" version="1.0.2" targetFramework="net48" />
  <package id="DotSpatial.Projections" version="1.9" targetFramework="net48" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net48" />
  <package id="Esri.ArcGISRuntime" version="100.9.0" targetFramework="net48" />
  <package id="Esri.ArcGISRuntime.runtimes.win" version="100.9.0" targetFramework="net48" />
  <package id="Esri.ArcGISRuntime.WPF" version="100.9.0" targetFramework="net48" />
  <package id="MahApps.Metro" version="2.2.0" targetFramework="net48" />
  <package id="MahApps.Metro.IconPacks" version="4.4.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="RestSharp" version="106.11.7" targetFramework="net48" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.113.3" targetFramework="net48" />
  <package id="System.Data.SQLite" version="1.0.113.6" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.113.6" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="1.0.113.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.113.0" targetFramework="net48" />
  <package id="WindowsAPICodePack" version="1.1.1" targetFramework="net48" />
</packages>